{{template "html_body" .}}
<script>
    const images = {{.PreviewsWithTime}};
    const previewFilename = {{.PreviewFilename}};
    const prefixName = {{.PrefixName}};
    const keyPrefix = {{.KeyPrefix}};
    const imageTypes = {{.ImageTypes}};
    const retentionPeriod = {{.RetentionPeriod}}; // in seconds
    const refreshPeriod = {{.PollingPeriod}}; // in seconds

    const inputs = {};
    const searchInput = document.getElementById("search");
    const container = document.querySelector("div.container");
    const modal = document.getElementById("modal");
    const modalImg = document.getElementById("modal-img");
    const modalLinks = document.getElementById("modal-links");

    let displayNewImages = true;
    let imagesGeonamesToDisplay = {};

    function formatTitle(title) {
        let kPrefix = keyPrefix.length > 0 ? keyPrefix + "@" : "";
        for (const imageType of imageTypes) {
            if (title.startsWith(kPrefix + imageType)) {
                title = title.substring(prefixName.length === 0 ? 0 : prefixName.length + 1, title.lastIndexOf("@")).replaceAll("@", "/"); // .replace("/" + previewFilename, "");
                const imgType = title.substring(0, title.indexOf("/"));
                const imgName = title.substring(title.lastIndexOf("/") + 1);
                return imgType + "\n" + imgName;
            }
        }
        return title;
    }

    function modalize(img) {
        fetch("infos/" + img.alt).then(response => { // .replaceAll("@", "/")
            response.json().then(jsonData => {
                jsonData = jsonData.data;
                document.getElementById("modal-img-date").innerText = "Generation date: " + jsonData["date"];
                while (modalLinks.hasChildNodes()) {
                    modalLinks.removeChild(modalLinks.firstChild);
                }
                for (const link of jsonData["links"]) {
                    const li = document.createElement("li");
                    const a = document.createElement("a");
                    a.href = link;
                    a.innerText = link.substring(link.lastIndexOf("/") + 1);
                    li.appendChild(a);
                    modalLinks.appendChild(li);
                }
                if (jsonData["links"].length > 0) {
                    document.getElementById("modal-links-title").style.display = "block";
                } else {
                    document.getElementById("modal-links-title").style.display = "none";
                }
                document.getElementById("geonames").innerText = jsonData["geonames"];
                if (jsonData["geonames"].length > 0) {
                    document.getElementById("geonames-title").style.display = "block";
                    document.getElementById("geonames").style.display = "block";
                } else {
                    document.getElementById("geonames-title").style.display = "none";
                    document.getElementById("geonames").style.display = "none";
                }
            }).catch(reason => {
                console.warn("Failed to jsonify links:", reason);
            });
        }).catch(reason => {
            console.warn("Failed to get image links:", reason);
        });
        modalImg.classList.add("show");
        modalImg.src = img.src;
        modalImg.alt = img.alt;
        const parentDiv = img.parentElement;
        let imgName = formatTitle(parentDiv.getAttribute("img-name"));
        if (imageTypes.includes(imgName.substring(0, imgName.indexOf("\n")))) {
            imgName = imgName.substring(imgName.indexOf("\n") + 1);
        }
        document.getElementById("modal-img-type").innerText = "Type: " + parentDiv.getAttribute("img-type");
        document.getElementById("modal-img-name").innerText = "Name: " + imgName;
        modal.style.display = "flex";
    }

    function addNewImg(img, date, addToList = true) {
        const newImg = document.createElement("img");
        newImg.src = "/image/" + img["img_key"] + "?time=" + Date.now();
        newImg.alt = img["img_key"];
        const previewParts = img["img_key"].split("@");
        if (previewParts.length >= 2) {
            newImg.title = previewParts[previewParts.length - 2];
        }
        newImg.style.maxWidth = currentImgWidth;
        newImg.addEventListener("click", () => modalize(newImg));
        const newA = document.createElement("a");
        newA.classList.add("img-title");
        newA.href = "/image/" + img["img_key"];
        newA.target = "_blank";
        newA.title = "Click to open the image in a new tab";
        newA.style.fontSize = currentFontSize;
        newA.innerText = formatTitle(img["img_name"]);
        const newDiv = document.createElement("div");
        newDiv.classList.add("img-container");
        newDiv.appendChild(newImg);
        newDiv.appendChild(newA);
        const imgType = img["img_type"]; // img.substring(prefixName.length === 0 ? 0 : prefixName.length + 1).split("@")[0];
        newDiv.setAttribute("img-type", imgType);
        newDiv.setAttribute("img-name", img["img_key"]); // imgTitle.substring(imgTitle.indexOf("\n") + 1)
        if (inputs.hasOwnProperty(imgType)) {
            if (!inputs[imgType].checked) {
                newDiv.classList.add("filter-hidden");
            }
        }
        if (searchInput.value !== "") {
            if (!newA.innerText.toLowerCase().includes(searchInput.value.toLowerCase())) {
                newDiv.classList.add("search-hidden");
            }
        }

        container.insertBefore(newDiv, container.firstChild);
        if (addToList) {
            images[img["img_key"]] = date;
        }
        countImages();
        newImg.onerror = () => {
            console.warn("Image", img["img_key"], "not found");
        };
    }

    function pollEverything() {
        fetch("images").then(response => {
            if (!response.ok) {
                console.error("Failed to poll everything:", response.statusText);
                return;
            }
            response.json().then(jsonResponse => {
                const newImages = jsonResponse.data;
                console.info("Response:", jsonResponse);
                const sortedImages = [];
                for (const img in newImages) {
                    sortedImages.push([img, new Date(newImages[img])]);
                }
                sortedImages.sort((a, b) => a[1] - b[1]);
                sortedImages.forEach(img => {
                    addNewImg({
                        img_key: img[0],
                        img_name: imagesGeonamesToDisplay.hasOwnProperty(img[0]) ? imagesGeonamesToDisplay[img[0]] : img[0],
                    }, img[1]);
                });
                imagesGeonamesToDisplay = {};
            }).catch(reason => console.error("Failed to parse reponse to Json:", reason));
        }).catch(reason => console.error("Failed to fetch images list:", reason)).finally(() => displayNewImages = true);
    }

    document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".img-title").forEach(a => {
            a.innerText = formatTitle(a.innerText);
            /*a.parentElement.setAttribute("img-type", a.innerText.split("\n")[0]);
            a.parentElement.setAttribute("img-name", imgTitle.substring(imgTitle.indexOf("\n") + 1));*/
        });
        document.querySelectorAll("img:not(#modal-img)").forEach(img => {
            img.addEventListener("click", () => modalize(img));
            setTimeout(() => {
                if (images.hasOwnProperty(img.src)) {
                    container.removeChild(img.parentElement);
                    delete images[img.src];
                    countImages();
                }
            }, retentionPeriod * 1000);
            const previewParts = img.title.split("@");
            if (previewParts.length >= 2) {
                img.title = previewParts[previewParts.length - 2];
            }
        });
        modal.addEventListener("click", () => {
            modalImg.classList.remove("show");
            modal.style.display = "";
            document.getElementById("modal-links-title").style.display = "none";
            document.getElementById("geonames-title").style.display = "none";
            document.getElementById("geonames").style.display = "none";
        });
        document.getElementById("modal-links").addEventListener("click", ev => {
            ev.stopPropagation();
        });

        document.querySelectorAll(".filters input[type=checkbox]").forEach(inpt => {
            inpt.checked = true;
            const value = inpt.parentElement.innerText.trim();
            inputs[value] = inpt;
            inpt.addEventListener("input", () => {
                if (inpt.checked) {
                    document.querySelectorAll(`div[img-type="${value}"]`).forEach(container => container.classList.remove("filter-hidden"));
                } else {
                    document.querySelectorAll(`div[img-type="${value}"]`).forEach(container => container.classList.add("filter-hidden"));
                }
                countImages();
            });
        });

        searchInput.value = "";
        searchInput.addEventListener("input", () => {
            const value = searchInput.value.toLowerCase();
            if (value === "") {
                document.querySelectorAll("div.search-hidden").forEach(container => container.classList.remove("search-hidden"));
            } else {
                document.querySelectorAll("div > a.img-title").forEach(a => {
                    if (a.innerText.toLowerCase().includes(value) || a.href.toLowerCase().substring("/image/".length).includes(value)) {
                        a.parentElement.classList.remove("search-hidden");
                    } else {
                        a.parentElement.classList.add("search-hidden");
                    }
                });
            }
            countImages();
        });

        if (window["WebSocket"]) {
            const wsProtocol = location.protocol === "https:" ? "wss:" : "ws:";
            const conn = new WebSocket(wsProtocol + "//" + document.location.host + "/ws");
            conn.onerror = function (evt) {
                console.error("WebSocket connection error:", evt);
            };
            conn.onclose = function (evt) {
                console.warn("WebSocket connection closed:", evt);
            };
            conn.onmessage = function (evt) {
                const msg = evt.data;
                const event = JSON.parse(msg);
                // console.info("Data update:", event);
                const imgKey = event["event_obj"] != null ? event["event_obj"]["img_key"] : null;
                const alreadyLoaded = images.hasOwnProperty(imgKey);
                switch (event["event_type"]) {
                    case "ADD":
                    case "UPDATE":
                        if (!displayNewImages) {
                            break;
                        }
                        if (alreadyLoaded) {
                            container.removeChild(document.querySelector(`img[src*="/image/${imgKey}"]`).parentElement);
                        }
                        addNewImg(event["event_obj"], event["event_date"]);
                        break;
                    case "REMOVE":
                        if (alreadyLoaded) {
                            container.removeChild(document.querySelector(`img[src*="/image/${imgKey}"]`).parentElement);
                            delete images[imgKey];
                            countImages();
                        }
                        break;
                    case "GEONAMES":
                        if (!displayNewImages) {
                            imagesGeonamesToDisplay[imgKey.replaceAll('/', '@')] = event["event_obj"]["geonames"];
                            break;
                        }
                        const imgElement = container.querySelector(`img[src*="/image/${imgKey.replaceAll('/', '@')}"]`);
                        if (imgElement != null) {
                            const title = imgElement.parentElement.querySelector("a.img-title");
                            if (title != null) {
                                title.innerText = event["event_obj"]["geonames"];
                            }
                        }
                        break;
                    case "RESET":
                        console.info("Reset !");
                        displayNewImages = false;
                        Object.keys(images).forEach(function (key) {
                            delete images[key];
                        });
                        while (container.hasChildNodes()) {
                            container.removeChild(container.firstChild);
                        }
                        countImages();
                        setTimeout(pollEverything, refreshPeriod * 1000);
                        break;
                    default:
                        console.warn("Unknown event type:", event["event_type"]);
                        break;
                }
            };
        } else {
            console.error("Your browser does not support WebSockets");
        }
    });
</script>
</body>
</html>
